# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
env/
venv/
.venv/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Folders
data/
preprocessing/
my_database/
!data/vcf/

# Files
!data/vcf/snps.filtered.vcf.gz
!data/vcf/snps.filtered.vcf.gz.tbi